/**
 * Created by vvliebe on 2014/12/19.
 */
.doclist li {
  position: relative;
}
.doclist li .zan {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: center;
  font-size: 80px;
  border-left: 1px solid #a2a2a2;
}
.flow-div {
  height: 120px;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 0;
}
.flow {
  background-color: #f0f0f0;
  text-align: center;
  line-height: 120px;
  height: 120px;
}
.flow-img {
  padding: 10px;
}
.flow-img img {
  max-height: 100px;
}
.tip {
  color: #999999;
}
.select-doctor {
  background-color: #f0f0f0;
}
.docinfo p {
  margin-bottom: 0px;
  margin-top: 10px;
  color: #888888;
}
.docinfo span {
  color: #333333;
}
.docinfo .intro {
  position: absolute;
  max-width: 550px;
  max-height: 40px;
}
.data-tr td:nth-child(2n) {
  background-color: #eeeeee;
}
.data-tr td {
  text-align: center;
  title: "hah";
  transition: background-color 500ms;
}
.data-tr td.clickable {
  cursor: pointer;
}
.data-tr td.clickable:hover {
  background-color: #0094ff;
}
.data-tr td.unclickable {
  cursor: not-allowed;
}
.doclist li {
  border: 1px solid transparent;
  padding: 3px;
}
.doclist li.active {
  border: 1px solid red;
}
.doclist .doctor-info {
  cursor: pointer;
  height: 135px;
}
