/**
 * Created by vvliebe on 2014/12/16.
 */
.flow-div {
  height: 120px;
  margin-top: 20px;
}
.flow {
  background-color: #ddc9ad;
  text-align: center;
  line-height: 120px;
}
.region-div {
  height: 120px;
  margin-top: 20px;
}
.region {
  background-color: #ddc9ad;
  text-align: center;
  line-height: 140px;
}
