/**
 * Created by vvliebe on 2014/12/19.
 */
.mainpage,
.department-div {
  margin-top: 20px;
}
.flow-img {
  padding: 10px;
}
.flow-img img {
  max-height: 100px;
}
.flow-div {
  height: 120px;
  margin-top: 0px;
  background-color: #ffffff;
  padding: 0;
  float: none;
}
.flow {
  background-color: #f0f0f0;
  text-align: center;
  line-height: 120px;
  height: 120px;
}
.panel,
.panel-heading {
  border-radius: 0px !important;
}
.department li {
  padding-left: 0px;
  padding-right: 0px;
}
.detail-department ul {
  list-style: none;
  padding: 0;
}
.detail-department li {
  float: left;
  min-width: 12.5%;
  padding: 5px;
}
.detail-department a {
  width: 100%;
}
