body{
    font-family: "微软雅黑";
}
div.menu
{
    width:100%;
    text-align: center;
    background-color: #31b0d5;
    padding: 0px 5%;
}


ul#menulist
{
    list-style: none;
}

li.menublock:hover
{
    background-color: #f0f8ff;
}
li.menublock
{
    padding: 10px 5px;
    width: 150px;
    text-align: center;
    font-size: 1.4em;
    float: left;
    cursor: pointer;
    transition: background 750ms;
}
.btn-help{
    padding: 7px 5px;
    float: right;
    cursor: pointer;
}


