/**
 * Created by vvliebe on 2014/12/16.
 */
body {
  font-family: "微软雅黑";
}
.hr {
  border: 1px solid #a2a2a2;
  width: 80%;
}
.flow-div {
  height: 120px;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 0;
}
.flow {
  background-color: #f0f0f0;
  text-align: center;
  line-height: 120px;
  height: 120px;
}

.qt-div {
    height: 1600px;
    width:100%;
    margin-top: 20px;
    background-color: white;
    padding: 50px 70px 50px 100px;
    border: 1px solid #a2a2a2;
    float:left;
}

.qta-div {
    height: 37%;
    width:95%;
    background-color: #f0f0f0;
    padding:25px 50px;
    float:left;
}

.lab-div {
  height: 100px;
  width:100%;


  padding: 0;

}

.lab-title{
    height:50px;
    width:100px;
    font-size:20px;
    float:left;

}

.lab-div {
  padding: 10px;
    width:100%;
    height:50px;
}

.lab-div .lab-la {
  padding: 0;
  list-style: none;
    float:left;
    margin:0 5px;
    background:#c0c0c0;
    color:white;
    width:100px;
    height:30px;
    text-align:center;
    padding:5px;
}

.lab-div .selected{
    background:#336f82;
}


.inp-div form {
    float:left;
    margin-top:20px;
    width:100%;
}

.inp-div form .input-context{
    margin-top:30px;
}

.inp-div .input-button{
    margin-left:660px;
    width:100px;
    height:30px;
}

.quefor{
    margin-top:20px;
    width:100%;
    float:left;
}



.qt-div .quefor .panel .panel-heading{
     height:39px;
     background:#336f82;
 }

.qt-div .quefor .panel .panel-heading .panel-title{
    color:white;
}

.qt-div .quefor .lab-la {
    list-style: none;
    float:left;
    color:white;
    width:100px;
    height:30px;
    text-align:center;

}


.qt-div .quefor .qutim{
    float:right;
}

.qt-div .quefor .qutim .label{
    float:right;
    margin:0 20px;
}

.qt-div .quefor .qutim p{
    float:right;
    margin:0 20px;
}



.qt-div .quefor .panel-t{
    list-style: none;

    color:white;
    width:75px;
    height:30px;
    text-align:center;
    padding:5px;
    background:#336f82;
    margin-top:30px;


}

.qt-div .quefor .bo{
    border-top:1px solid black;
    width:100%;
}

.qt-div .alert{
    width:100%;
    float:left;
    margin-top:5px;
}

.qt-div .alert-success{
    background: rgba(12, 128, 18, 0.36);
}

.qt-div .panel-a{
    width:95%;
    margin-top:20px;
}


.main-content {
  position: relative;
  padding: 0 10%;
}


.flow-img {
  padding: 10px;
}
.flow-img img {
  max-height: 100px;
}
.media-title {
  padding: 0px 0px 10px 10px;
  border-bottom: 1px solid #a2a2a2;
}
