/**
 * Created by vvliebe on 2014/12/14.
 */
body {
  background-color: #f7f9f9;
}
.form-group > div {
  padding: 0;
}
.register-div {
  margin-top: 70px;
  border: 1px solid #e1e1e1;
  background-color: #fbfbfb;
  padding-top: 5px;
  box-shadow: 1px 1px 3px #eeeeee;
}
.menu {
  width: 100% !important;
  margin-left: 0 !important;
}
.register-title {
  padding: 15px 0;
}
.not-current-user {
  display: none;
}
